<div class="center hero-unit">
<h1>Welcome to Project Reel</h1>
<p>This is the home page for <%= link_to "Project Reel", "#" %></p>

<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
</div>
